
@{
    ViewBag.Title = "Statistika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Statistics")

<h4>Statistika</h4>

<p>::::::::::::::::::::::::::::<br />:::: U izgradnji ::::<br />::::::::::::::::::::::::::::</p>

@section scripts {
	@Scripts.Render("~/bundles/Statistics")
}

